.container {
  max-width: 1080px;
  padding-top: 2rem;
}

/* HEADER */
.header {
  background-image: linear-gradient(
    to right,
    rgb(74, 74, 255),
    rgb(48, 48, 204)
  );
  width: 100%;
  color: white;
  height: 100px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  position: sticky;
  top: 0;
}

.logo {
  max-height: 3rem;
}

.burger {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.input {
  width: 500px;
  margin: 0 15px;
}

/* styles for book list */
.link-details {
  color: black;
}

.list-img{
 height: 180px;
 width: 130px;
}

.hover-book:hover{
  cursor: pointer;
}

.hover-book-text:hover{
  cursor: pointer;
  text-decoration: underline;
}

.book-title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* STYLES FOR THE BOOK INFORMATION CARDS*/

.book-profiles-container {
  background: linear-gradient(
    to right,
    rgb(110, 150, 167),
    rgb(145, 165, 173),
    rgb(110, 150, 167)
  );
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.summary-body {
  display: flex;
  background-color: aliceblue;
  align-items: center;
}

.summary-body p {
  width: 83%;
  text-align: center;
}

.summary-body img {
  margin: auto;
  text-align: center;
}

.book-tags-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* END OF THE STYLES FOR THE BOOK INFORMATION CARDS*/

/* OVERLAY */
